name: Deploy User Service
on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: ghcr.io/team-tiger1/user-service

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:latest .
          docker push ${{ env.IMAGE_NAME }}:latest

      - name: Deploy to K3s
        run: |
          sed -i "s|image: .*|image: ${{ env.IMAGE_NAME }}:latest|g" k8s/deploy.yaml
          
          kubectl apply -f k8s/deploy.yaml
          
          kubectl rollout restart deployment/user-service
